.singlePage {
  width:100%; height:calc(100% - 20rem);
  h2 { font-size:8rem; }
  .openAds {
    margin:2rem 0;
  }
  .van-button { font-size: 4rem; height: auto; padding: 2rem 10rem; line-height: 4rem; border-radius: 4rem; margin:3rem 0 0; }
}